body{
        background-color: blue;
}
.body{
        border: white 3px solid;
        margin: 10px auto;
        height: 100px;
        width: 50px;
        border-radius: 40%;
        .switch{
                border: white 3px solid;
                background-color: white;
                border-radius: 50%;
                width: 5px;
                height: 5px;
                margin: 10px auto;
                animation: ing 2s 0.5s;
        }
        @keyframes ing{
                0%{
                        margin: 10px auto;
                }
                50%{
                        margin: 80px auto;
                }
                100%{
                        margin: 10px auto;
                }
        }
}