.nav{
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        .txt1{
                font-size: 30px;
                font-style: italic;
                margin: 0px 50px 0px 300px;
        }
        a{
                margin: 0 80px 0 80px;
                text-decoration: none;
                color: inherit;
        }
        
}
.content{
        display: flex;
        .box1, .box2, .box3{
                min-width: 600px;
                img{
                        width: 600px;
                }
                div{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        div{
                                margin: 10px;
                                background-color: white;
                        }
                }
        }
}