.table-1{
        border-collapse: collapse;
        width: 500px;
        height: 300px;
        margin: auto;
        text-align: center;
        color: white;
        th,td{
                border: rgb(21, 0, 255) solid 1px;
        }
        th{
                background-color: rgb(0, 136, 255);
                color: white;
        }
        td{
                height: 20px;
        }
}
.row1{
        background-color: rgb(2, 95, 189);
}
.row2{
        background-color: rgb(0, 91, 161);
}

.fill{
        background-color: rgb(91, 178, 255);
}
.fill2{
        background-color: rgb(0, 91, 161);
}

body{
        background-repeat: no-repeat;
        background: linear-gradient(cyan,blue);
        background-attachment: fixed;
}