.container{
        border: solid 3px black;
        border-top-left-radius: 37px 140px;
        border-top-right-radius: 23px 130px;
        border-bottom-left-radius: 110px 19px;
        border-bottom-right-radius: 120px 24px;
        text-align: center;
        width: 500px;
        height: 300px;
        margin: auto;
}
.text{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
}
.R{
        color: darkmagenta;
        font-size: 50px;
}
