.container{
        display: flex;
        justify-content: center;
        table, td, th{
                border: 5px solid green;
                border-collapse: collapse;
        }
        td, th{
                width: 100px;
                height: 30px;
        }
}