.cont{
        display: flex;
        justify-content: center;
        table, td, th{
                border: solid 3px black;
                border-collapse: collapse;
                text-align: center;
                background-color: white;
        }
        td, th{
                height: 50px;
                width: 90px;
        }
}
body{
        background-color: gray;
}