.table1{
        border: solid black 1px;
        width: 500px;
        height: 300px;
        margin: auto;
        border-collapse: collapse;
}
.table1 td, th{
        border: solid 1px black;
        text-align: center;
}
.table1 tfoot{
        background-color: bisque;
}