.page{
        border: 1px black solid;
        height: 1000px;
        width: 750px;
        margin: auto;
        .nav{
                border: solid black 1px;
                a{
                        margin: 0 20px 0 20px;
                        text-decoration: none;
                        border-left: 1px black solid;
                        border-right: 1px solid black;
                        color: inherit;
                        padding: 2px;
                        transition: 0.5s;
                }
                a:hover{
                        background-color: black;
                        color: white;
                }
        }
        .side{
                border: black solid 1px;
                width: 200px;
                height: 85%;

        }
        .pct{
                img{
                        width: 100%;
                        height: 100%;
                }
        }
        ul{
                padding: 0;
                li{
                        list-style-type: none;
                        border: black solid 1px;
                        padding: 10px;
                        a{
                                text-decoration: none;
                                color: inherit;
                        }
                }
                li:hover{
                        background-color: black;
                        color: white;
                        cursor: pointer;
                }
                img{
                        width: 100%;
                        height: 100%;
                }
        }
}
