.forms{
        border: 2px gray solid;
        margin: auto;
        padding: 10px;
        height: 300px;
        width: 400px;
        display: flex;
        flex-direction: column;
        input, textarea{
                border: none;
                border-bottom: 2px gray solid;
                resize: none;
                flex-grow: 1;
                padding: 10px;
        }
        textarea{
                height: 50px;
        }
        hr{
                opacity: 0;
        }
        .row{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
        }
}