.container {
  display: flex;
  height: 500px;
  width: 900px;
  margin: 200px auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textbox {
  background-color: #02b4d2;
  border: 0px solid transparent;
  border-radius: 10px 0 0 10px;
  min-width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.textbox div:nth-child(1) {
  margin-top: 100px;
}

.textbox div {
  margin: 20px 20px 0 20px;
  text-align: center;
  font-size: 25px;
}

.form {
  background-color: white;
  border: 0px solid transparent;
  border-radius: 0 10px 10px 0;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  min-width: 350px;
  min-height: 40px;
  border: none;
  background-color: lightcyan;
  margin: 10px 0 10px 0;
}

.form input:hover {
  transition: 2s;
  scale: 1.05;
}

.form input:nth-child(6) {
  border: solid 0px transparent;
  background-color: #02b4d2;
  border-radius: 20px;
  min-width: 100px;
}

.form input:nth-child(6):hover {
  background-color: #1f9cb2;
  border: solid black 1px;
  transition: 2s;
  scale: 1.05;
  cursor: pointer;
}

span {
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
    height: auto;
    margin: 100px auto;
  }

  .textbox, .form {
    min-width: 400px;
  }

  .textbox div {
    font-size: 22px;
  }

  .form input {
    min-width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    margin: 50px auto;
    width: 90%;
  }

  .textbox, .form {
    min-width: 100%;
    margin-bottom: 30px;
  }

  .textbox div {
    font-size: 20px;
  }

  .form input {
    min-width: 90%;
  }

  .form input:nth-child(6) {
    min-width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 30px auto;
    width: 95%;
  }

  .textbox {
    min-width: 100%;
    padding: 15px;
  }

  .textbox div {
    font-size: 18px;
  }

  .form {
    width: 100%;
  }

  .form input {
    min-width: 90%;
    font-size: 16px;
  }

  .form input:nth-child(6) {
    min-width: 130px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin: 20px auto;
    width: 100%;
  }

  .textbox {
    min-width: 100%;
    padding: 10px;
  }

  .textbox div {
    font-size: 16px;
  }

  .form input {
    min-width: 90%;
    font-size: 14px;
  }

  .form input:nth-child(6) {
    min-width: 120px;
    font-size: 12px;
  }
}
