.content {
    background: url("CUE_SOC_1.png") center/cover no-repeat;
    padding: 120px 40px;
    text-align: center;
    color: black;
    position: relative;
    opacity: 0;
    visibility: hidden;

    z-index: 0;
    animation: contentFadeIn 0.6s ease forwards;
    animation-delay: 2.8s;
}

.content-text {
    background: rgba(255, 255, 255, 0.85);
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    animation: contentFadeIn 0.6s ease forwards;
    animation-delay: 2.8s;
}

.content-text h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.content-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
}

.btn {
    background: #60a5fa;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;

    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(96, 165, 250, 0.3);
}

.faculties {
    margin: 100px auto;
    text-align: center;
}

.faculties h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    img{
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    img:hover{
        transform: scale(1.2);
        transition: 0.8s;
    }
}

.card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

@keyframes contentFadeIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}