$w:100px;
$h:100px;

.container{
        border: solid 1px black;
        height: 500px;
        width: 500px;
        background-color: aquamarine;
        position: relative;

        div{
                width: $w;
                height: $h;
                border: solid 2px green;
                background: yellowgreen;
                box-sizing: border-box;
                position: absolute;

        }

        div:nth-child(5){
                bottom: 0;
                right: 0;
        }
        div:nth-child(4){
                bottom: 0;
                left: 0;
        }
        div:nth-child(3){
                right: 0;
                top: 0;
        }
        div:nth-child(2){
                margin: auto;
                position: static;
        }
}