.container{
        margin: 30px auto;
        border: solid 0px transparent;
        height: 700px;
        width: 700px;
        background-color: black;
        .bx1{
                background-color:  blue;
                border: solid 0px transparent;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin-left: 650px;
                animation-name: an1;
                animation-duration: 5s;
                position: absolute;
        }
        .bx2{
                background-color: red;
                border: solid 0px transparent;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                animation-name: an2;
                animation-duration: 5s;
                position: absolute;
                animation-iteration-count: infinite;
        }
        
}
@keyframes an1 {
                50%{margin-top: 325px; margin-left: 0; margin-right: 325px;}
                50%{margin-top: 650px; margin-left: 0; margin-right: 650px;}
}
@keyframes an2 {
                50%{margin-top: 325px; margin-left: 325px;}
                50%{margin-top: 650px; margin-left: 650px;}
}