body{
        /* background: linear-gradient(purple, magenta) no-repeat; */
        background-color: blueviolet;
}
.container {
        display: flex;
        height: 500px;
        width: 900px;
        margin: 120px auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textbox{
        background-color: #02b4d2;
        border: 0px solid transparent;
        border-radius: 10px 0 0 10px;
        min-width: 450px;
        display: flex;
        align-items:center;
        flex-direction: column;
        color: white;
        div:nth-child(1){
                margin-top:100px;
                font-size: 30px;
        }
        div{
                margin: 20px 20px 0 20px;
                text-align: center;
                font-size: 15px;
        }
}
.form{
        background-color: white;
        border: 0px solid transparent;
        border-radius: 0 10px 10px 0;
        min-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
                display: flex;
                flex-direction: column;
                align-items: center;
        }
        input{
                min-width: 350px;
                min-height: 40px;
                border: none;
                background-color: lightcyan;
                margin: 10px 0 10px 0;
        }
        input:hover{
                transition: 2s;
                scale: 1.05;
        }
        input:nth-child(6){
                border: solid 0px transparent;
                background-color: #02b4d2;
                border-radius: 20px;
                min-width: 100px;
        }
        input:nth-child(6):hover{
                background-color: #1f9cb2;
                border: solid black 1px;
                transition: 2s;
                scale: 1.05;
                cursor: pointer;
        }
}