header {
    background-color: #0f172a;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    opacity: 0;
    visibility: hidden;

    animation: loadIn 0.5s ease forwards;
    animation-delay: 2.8s;
}
header img {
    height: 100px;
}

header .nav-bar a {
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-size: 25px;
    margin-left: 20px;
    padding: 5px 10px;
}

header .nav-bar a:hover {
    background-color: white;
    color: #2563eb;
    transition: 0.8s;
}

.loader {
  position: fixed;
  inset: 0;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: hideLoader 0.1s linear forwards;
  animation-delay: 2.8s;
}
.logo {
  color: white;
  opacity: 0;
  transform: scale(0.9);
  animation: logoFade 1s ease forwards;
}

@keyframes logoFade {
  0% {
    opacity: 0%;
    transform: scale(0.8);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes loadIn{
    100%{
        opacity: 100%;
        visibility: visible;
    }
}