$w:100px;
$h:100px;

.olymp{
        width: 600px;
        height: 400px;
        position: relative;
        background-color: slateblue;
        margin: auto;
        div{
                width: $w;
                height: $h;
                border: solid rgb(42, 40, 40) 3px;
                border-radius: 50%;
                position: absolute;
        }
        div:nth-child(1){
                background-color: red;
                left: 150px;
                top: 0;
                z-index: 0;
                opacity: 0.5;
        }
        div:nth-child(2){
                background-color: green;
                left: 250px;
                top: 0;
                z-index: 2;
                opacity: 0.7;
        }
        div:nth-child(3){
                background-color: blue;
                left: 350px;
                top:0;
                z-index: 4;
                opacity: 0.9;
        }
        div:nth-child(4){
                background-color: yellow;
                top: 60px;
                left: 200px;
                z-index: 1;
                opacity: 0.6;
        }
        div:nth-child(5){
                background-color: black;
                top: 60px;
                left: 300px;
                z-index: 3;
                opacity: 0.8;
        }
}