* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle at center, blue, #007bff);
    background-size: 200% 200%;
    animation: bgAnim 3s ease-in-out infinite alternate;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px black;
}

.logo img {
    height: 40px;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: gray;
}

.nav-links li a:hover {
    color: #007bff;
}

.content img{
    min-width: 20%;
    max-width: 40%;
    margin-left: 65%;
}

.card-box {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 250px;
    background: linear-gradient(135deg, #007bff, #0056d2);
    color: #fff;
    padding: 25px;
    border-radius: 14px;
}

.card:hover {
    transform: translateY(-8px);
}

.card h1 {
    margin-bottom: 14px;
}

.card ul {
    padding-left: 18px;
    margin-bottom: 18px;
}

.card ul li {
    margin-bottom: 6px;
}

.card a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.card a:hover {
    transform: translateX(5px);
    opacity: 0.85;
}


@keyframes bgAnim {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 50%;
    }
}


@media (max-width: 431px) {
    header{
        .logo{
            img{
                max-width: 150px;
            }
        }
    }
}