.forms{
        width: 45%;
        background-color: aqua;
        border: solid 2px black;
        margin: 2px auto;
        padding: 20px;
        font-size: 2em;
        input{
                font-size: 2em;
        }
        select{
                font-size: 2em;
                padding: 10px;
                border-bottom: solid black 2px;
        }
        select option{
                color: red;
        }
}
