.nav{
    margin: 100px auto;
    width: 500px;
    border: solid 2px black;
    font-size: 2em;
    a{
        color: inherit;
        text-decoration: none;
    }
    ul{
        background-color: beige;
        width: 250px;
    }
    ul > li > ul{
        display: none;
        margin-left: 120px;
        transition: 1s;
        background-color: inherit;
    }
    ul > li:hover > ul{
        position: absolute;
        display: block;
        
    }
    > a{
        color: green;
    }
    > ul ul{
        
    }
}